<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ url_for('static', filename ='css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename ='css/join.css') }}" />
<title>Object_Defect</title>
</head>
<body style="background-color: rgba(240,240,240,100)">
	<!-- 기존 내용을 유지하고 Flash 메시지를 표시할 위치 추가 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}         
                <!-- error 메시지 -->
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
	<div class="container" style="padding-top: 50px">
		<div class="col-xs-12 col-md-6">
			<div class="wrapper-logo">
				<div><h1 style="color: rgb(34, 150, 246); text-align: left;">머신비전 불량 검출</h1><h3>다양한 객체를 모델링을 통해 최적화 된 제품을 <br>선별합니다.</h3></div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="wrapper-login">
				<div class="jumbotron" style="background-color: white; border-radius: 30px">
					<form method="post" action="http://3.34.107.119:5000/login/action">
						<div><h2 style="text-align: center; color: rgb(34, 150, 246)">불량 검출</h2></div>
						<div class="form-group" style="padding-top: 30px">
							<input type="text" class="form-control" style="height: 47px" placeholder="아이디" name="userID" maxlength="20">
						</div>
						<div class="form-group" style="padding-top: 10px">
							<input type="password" class="form-control" style="height: 47px" placeholder="비밀번호" name="userPassword" maxlength="20">
						</div>
						<div style="padding-top: 10px">
							<input type="submit" class="form-control submit" style="background-color: rgb(34, 150, 246); height: 40px; color:white;" value="로 그 인">
						</div>
						<div style="padding-top: 10px"><h4>사이트의 계정이 없으신가요? &nbsp&nbsp<a href="http://3.34.107.119:5000/join">가입하기</a></h4></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="../static/js/bootstrap.js"></script>
</body>
</html>